<h2>Totalitní kniha poprvé česky</h2>
<p>Knihu přeložil prof. PhDr. Jiří Hájek, DrSc., známý germanista. Odborníci se shodují, že Hitlerův Mein Kampf doplněný komentářem autora překladu, který se s knihou seznámil po prožitém utrpení v koncentračním táboře, sleduje opačný záměr, než Hitler zamýšlel, a v žádném případě nepropaguje a nepodporuje fašismus. Vydavatel prohlašuje: „V knize jsou nejpodstatnější části z originálu. Hitler se neustále opakuje, těká od předmětu k předmětu a knihu koření takzvaným slovním salátem. Tohle vše jsme vyhodili.“ […] Vydavatel dále zdůrazňuje, že v tomto případě knihu nevydali s ohledem na její komerční úspěch.</p>
